img{
	width:100%;
}
.card{
	width:25%;
	 border-radius:5px;
	 margin-top:100px;
	 margin:10px;
	 background-color: #f6f6f6;
  
}
p{
	padding-left:30px;
}
h2{
	padding-left:30px;
}
.c{
	display:flex;
	justify-content: space-evenly;
	margin:auto;
}
.a{
	margin:auto;
	width:90%
}
.icons{
position: absolute;
    left: 120px;
    bottom: 30px;
    right: 0;
    opacity: 0;
  }
.icons i{
	margin: 0 3px;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    background: #ffffffcc;
	color: #484848;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.card:hover .as{
	opacity:1;
	position:absolute;
	top:250px;
}
.s{
position: absolute;
    left: 420px;
    bottom: 30px;
    right: 0;
    opacity: 0;
  }
  .sa{
	position: absolute;
    left: 720px;
    bottom: 30px;
    right: 0;
    opacity: 0;
  }
  .ba{
	position: absolute;
    left: 1050px;
    bottom: 30px;
    right: 0;
    opacity: 0;
  }